<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
<div class="pane" align="center"><br><br>
	<h1 align="center"> Edit Chocolate {{chocolate.name}}</h1>
	<form action="{{url_for('editChocoTypes', chocolate_id=chocolate.chocolate_id ,menu_id=chocolate.id)}}" method = 'POST'>
	<p>Name:</p>

	<input type='text' size='30' name='name' placeholder='{{chocolate.name}}' required>
	<p>Description:</p>
	<textarea rows="5" cols="35" name="description" placeholder='{{chocolate.description}}' required></textarea>
	<p>Price:</p>
	<input type='text' size='30' name='price' placeholder='{{chocolate.price}}' required><br><br>
	<input type='submit' value='Edit'>
	<a href="{{url_for('chocolateMenu', chocolate_id=chocolate.chocolate_id )}}">Cancel</a>
	</form>
</div>
</body>
</html>