<!DOCTYPE html>
<html>
<head>	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
<div class="pane">
	<div class="header">
	<h1>Royal Chocolates</h1>
	</div>
	<a href="{{url_for('showlogin')}}">Login</a>
<div class="flash">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
	{% for message in messages %}
  	<li><strong>{{message}}</strong></li>
  	{% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

	{% for i in chocolate %}
	<div class="single">
		<div class="Dcrpt">
			<a href='{{url_for('chocolatemenu',chocolate_id=i.id)}}'><h4>{{ i.name }}</h4></a>
		</div>
	<br><br><br>
	<img src={{i.picture}}></br>
	</div>
	{% endfor %}

</div>
</body>
</html>